.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} 

section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  overflow: hidden;
  height: 20vh;
  padding-top: 5rem;  
}

#vanta-exp {
  min-width: 100%;
  min-height:100%  
}


// mobile
@media only screen and (max-width : 700px) {
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 10vw;
    color: lightcoral;
  }

  .date {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 8vw;
    color: lightyellow;
  }

  #split {
    text-align: center;
    color: indianred;
    font-size: 20vw;
    margin: 0;
    line-height: 0
  }

  #quote {
    font-size: 18vw;
    color: thistle;
    font-family: BebasNeueRegular;
    text-align: center;
    line-height: 1.2
  }
}
// desktop
@media only screen and (min-width: 700px)  { 

  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 10vw;
    color: lightcoral;
  }

  .date {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 5vw;
    color: lightyellow;
  }

  #split {
    text-align: center;
    color: red;
    font-size: 12vw;
    margin: 0;
    line-height: 0
  }
}


/*  span {
    color: white;
  }
  
  .footer {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 14px;
    color: lightslategray;
  } */

/* @media (min-width:961px)  { 
  #vanta-exp {
    min-width: 60%;
    min-height: 60%;
    
  }
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 16vw;
    color: greenyellow;
  }
 }
@media (min-width:1025px) { 
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 16vw;
    color: slateblue;
  }
 }
@media (min-width:1281px) { 
  #vanta-exp {
    min-width: 100%;
    min-height: 100%;
    
  }
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 10vw;
    color: greenyellow;
  }
 } */