<div id="vanta-exp" class="example-sidenav-content">
   <section>
    <div class="container">
        <h1 id="split">JERRY</h1>
    </div>
   </section>
    <!-- <div class="d-flex align-items-start flex-column">
        <div class="mb-auto p-2">
            <h1 id="title"></h1>
      
        </div>

        <div class="d-flex align-items-start flex-column example-container mt-5" >
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="company">ASYMMETRIC</span></div>
                <div class="col"><span class="date">2024/ACTUAL</span></div>
            </div>
            <div class="row d-flex flex-column mt-5 ">
                <div class="col"><span class="company">IDR TECHNOLOGIES</span></div>
                <div class="col"><span class="date">2023/2023</span></div>
            </div>
    
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="company">AXITY</span></div>
                <div class="col"><span class="date">2022/2023</span></div>
            </div>
    
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="company">TOTAPLAY</span></div>
                <div class="col"><span class="date">2021/2022</span></div>
            </div>
        </div>  
    </div> -->

    

</div>