<div id="vanta-exp" class="example-sidenav-content">
    <div class="d-flex align-items-start flex-column h-75 w-100">
        <div class="mb-auto p-2 m-5">
            <h1 id="title"></h1>
      
            <h4 class="mt-4" id="subtitle"></h4>
        </div>

        <div  class="d-flex align-items-start flex-column example-container" >
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="subtitle">ONLINET</span></div>
                <div class="col"><span class="date">2023/HASTA LA FECHA</span></div>
            </div>
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="subtitle">XIMA</span></div>
                <div class="col"><span class="date">2017/2018</span></div>
            </div>
    
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="subtitle">ALIANCE VERITAS REGISTER</span></div>
                <div class="col"><span class="date">2017/2018</span></div>
            </div>
    
            <div class="row d-flex flex-column mt-5">
                <div class="col"><span class="subtitle">SILENT 4 BUSINESS </span></div>
                <div class="col"><span class="date">2022/2023</span></div>
            </div>
        </div>  
    </div>

    

</div>

