.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-container {
  margin-left: 10px;
}

#vanta-exp {
  min-width: 100%;
  min-height:100%  
}

#title {
  font-family: NeueMontrealMediumItalic;
 margin-top: 15vh; 
}

.company {
  font-family: NeueMontrealLight;
  font-style: normal;
  font-size: 10vw;
  color: bisque;
}
// mobile
@media only screen and (max-width : 700px) {
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 10vw;
    color: lightcoral;
  }

  .date {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 8vw;
    color: lightyellow;
  }
}
// desktop
@media only screen and (min-width: 700px)  { 

  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 10vw;
    color: lightcoral;
  }

  .date {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 5vw;
    color: lightyellow;
  }
}


/*  span {
    color: white;
  }
  
  .footer {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 14px;
    color: lightslategray;
  } */

/* @media (min-width:961px)  { 
  #vanta-exp {
    min-width: 60%;
    min-height: 60%;
    
  }
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 16vw;
    color: greenyellow;
  }
 }
@media (min-width:1025px) { 
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 16vw;
    color: slateblue;
  }
 }
@media (min-width:1281px) { 
  #vanta-exp {
    min-width: 100%;
    min-height: 100%;
    
  }
  .company {
    font-family: NeueMontrealLight;
    font-style: normal;
    font-size: 10vw;
    color: greenyellow;
  }
 } */