

<footer class="text-center text-lg-start m-4 text-muted bg">
	<div class="row">
		<div class="col-6 brand mt-5">
			<span>Subscribe to the JERRY® <br> newsletter to stay up-to-date with the latest releases</span>



			<hr />
			<!-- <pre>Model: {{ model | json }}</pre> -->
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>

	<section>
		<div class="row">
			<div class="col-lg-7 col-md-9 col-sm-6">
				<mat-form-field class="example-full-width" color="primary" >
					<mat-label>Email</mat-label>
					<input type="email" matInput placeholder="Ex. jerry@example.com">
				   
				  </mat-form-field>
			</div>
		</div>
	</section>

	<section>
		
	</section>

	<div class="text-center p-3 privacy-policy">
		©2024 G - Todos los derechos reservados.
		<span><a href="https://www.gob.mx/cms/uploads/attachment/file/92883/POLITICA_DE_PRIVACIDAD_INDAABIN.pdf">Política
				de Privacidad</a></span>. Términos de uso.
	</div>
</footer>