@font-face {
    font-family: NeueMontrealMediumItalic;
    src: url("./montreal/NeueMontreal-MediumItalic.otf") format("truetype");
}

@font-face {
    font-family: NeueMontrealLight;
    src: url("./montreal/NeueMontreal-Light.otf") format("truetype");
}