@font-face {
    font-family: NeueMontrealMediumItalic;
    src: url("./montreal/NeueMontreal-MediumItalic.otf") format("truetype");
}

@font-face {
    font-family: NeueMontrealLight;
    src: url("./montreal/NeueMontreal-Light.otf") format("truetype");
}

@font-face {
    font-family: MountainsofChristmasBold;
    src: url("./christmas/MountainsofChristmas-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MountainsofChristmasRegular;
    src: url("./christmas/MountainsofChristmas-Regular.ttf") format("truetype");
}