/* montreal */
@font-face {
    font-family: NeueMontrealMediumItalic;
    src: url("./montreal/NeueMontreal-MediumItalic.otf") format("truetype");
}

@font-face {
    font-family: NeueMontrealLight;
    src: url("./montreal/NeueMontreal-Light.otf") format("truetype");
}
/* pp mori */
@font-face {
    font-family: PPMoriRegular;
    src: url("./ppmori/PPMori-Regular.otf") format("truetype");
}

@font-face {
    font-family: PPMoriExtraLight;
    src: url("./ppmori/PPMori-Extralight.otf") format("truetype");
}