.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 10px;
    }
  }

.modal-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 6vw;
  margin-top: 10px;  
  color: coral;
  font-family: NeueMontrealMediumItalic;
}

p {
  font-family: NeueMontrealMediumItalic;
  color: coral;
  line-height: 25px;
  font-size: 30px;
  text-align: center;
}


::ng-deep .modal-content  {
  background-color: #0b1324;
}

button {
  color: white;
  font-family: NeueMontrealMediumItalic;
}