<div class="modal-header">
    <!--  <h4 class="modal-title">¡Hola soy Erick!</h4> -->
    <img class="card-img-top mt-3" src="images/photo.png" alt="Card image cap">
   </div>
   <div class="modal-body">
     <div class="container-fluid">
         <div class="row flex-row">
           
           <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-2">
             <p>Soy Erick Basurto y actualmente soy Ingeníero en Gestión Empresarial, mi experiencia laboral ha sido realizar contribuciones e
               innovaciones de procesos; así como al diseño, implementación y desarrollo de sistemas estratégicos de
               negocios, optimizando recursos en un entorno global, con ética y responsabilidad social.</p>
           </div>
           <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">INGRESAR </button>
         </div>
   
   