.example-container {
  height: 100%;
  // sborder: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  background-color: rgb(18, 18, 19);
  height: 92%;
  //background-image: linear-gradient(to left, #0f0e1a, #151529, #1b1a39, #211f4a, #2a235a);
}

#vanta {
  z-index: -1;
}

/* Core functionality */
#animated-text-strip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}

#animated-text-strip .marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  max-width: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

#animated-text-strip {
  background: black;
  padding: 1rem 0;
}

.marquee {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  font-family: NeueMontrealMediumItalic;
  color: white;
}

@media only screen and (max-width : 700px) {

  #animated-text-strip {
    background: black;
    padding: 2rem 0;
  }
  .marquee {
    font-family: 'Open Sans', sans-serif;
    font-size: 14vw;
    font-family: NeueMontrealMediumItalic;
    //color: yellow;
  }
}

.color-sale {
  color: orange
}

p {
  font-size: 2rem;
  font-family: NeueMontrealMediumItalic;
}

.modal-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-family: NeueMontrealMediumItalic;
}

$d: 70;      // density
$w: 600;     // grid size
$s: 3s;       // speed

// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * .1 + .5;
  $grad: $grad, radial-gradient(
      $v+px $v+px at
      (random($w - $v * 2) + $v)+px
      (random($w - $v * 2) + $v)+px, 
      rgba(255,255,255,$a) 50%,
      rgba(0,0,0,0)
  ) !global;
}

// The CSS
html {
  height: 100%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;
}
.snow, .snow:before, .snow:after {
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}
.snow:after {
  margin-left: -$w/3 + px;
  opacity: .4;
  animation-duration: $s*2;
  animation-direction: reverse;
  filter: blur(3px);
}
.snow:before {
  animation-duration: $s*3;
  animation-direction: reverse;
  margin-left: -$w/2 + px;
  opacity: .65;
  filter: blur(1.5px);
}
@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}