.example-container {
    height: 100%;
  }
  
  .example-sidenav {
    background-color: orange;
    height: 100%;
    //background-image: linear-gradient(to left, #0f0e1a, #151529, #1b1a39, #211f4a, #2a235a);
  }
  
  .title {
    font-family: NeueMontrealMediumItalic;
    font-style: normal;
    color: silver;
    font-size:xx-large;
  }
  
  .subtitle {
    font-family: NeueMontrealMediumItalic;
    font-style: normal;
    color: whitesmoke;
  }
  
  #vanta {
    z-index: -1;
  }
  
  /* Core functionality */
  #animated-text-strip{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
  }
  #animated-text-strip .marquee {
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    max-width: none;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  /* Styles for the sake of the demonstration */
  #animated-text-strip{
    background:black;
    padding: 1rem 0;
  }

  .marquee{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-family: NeueMontrealMediumItalic;
    color: white;
  }   
  
  .color-sale {
    color: orange
  }
  
  p {
    font-size: 2rem;
    font-family: NeueMontrealMediumItalic;
  }
  
  .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-family: NeueMontrealMediumItalic;
  }

  .wrapper {
    background: #0F0E1A;
  }

  .to-top-button {
    position: fixed;
    bottom: 20px;
    font-family: NeueMontrealMediumItalic;
    right: 20px;
    background-color: wheat;
    border: none;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 999;
    display: none;
  }
  
  
  
  